#slide1 {
    color: white;
    height: 450px;
    padding-top: 100px;
    background-position: 50% 7%;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif
}

#slide2 {
    color: white;
    height: 450px;
    padding-top: 100px;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif
}